body {
  background-image: url("../images/Background1.jpg");
  background-color: black;
  margin: auto;
  color: white;
  font-size: 2em;
  text-align: center;
}

.wrapper {
  background-color: black;
  opacity: 0.5;
  color: white;
  /* margin-left: 400px; */
}
